body {
	font-size: 16px!important;
}

.panel-primary.container {
    border-color: #337ab7;
    padding: 0;
}

h2 {
	margin: 0 !important;
}

.red {
	color: red;
}

#app {
    display: none;
}

section.mainBtns {
	margin: 10% 20%;
}

#checkIn, #checkOut {
	display: none;
}

section#app .btn {
	height: 15em;
	width: 15em;
}

table#timesheet {
	margin-top: 1em;
}

tr, th {
	width: 25%;
}

#message {
    margin-top: 1em;
}

#numpad {
    margin-left: 35%;
}

#numpad button.btn.btn-default {
  width: 100px;
  height: 100px;
}

#numpad button.btn.btn-default:hover {
 background-color: #5894D1 !important;
 color: white;
}

#login {
    width: 310px;
    height: 100px;
    margin-left: 35%;
    margin-top: 1em;
}

#userTimesheet {
	display:none;
}

@media (max-width: 600px) {
	body {
		font-size: 14px !important;
	}

	img {
		width: 100px;
	}

	.panel .panel-heading {
		padding: 0;
	}

	.navbar.navbar-default {
		margin-bottom: 0;
	}

	#message {
		margin-top: 0;	
	}
 
	section.mainBtns {
		margin: 0 auto;
	}

	section .btn {
		width: 100%;
		height: 5em;
	}

	#numpad, #login {
		margin: 0;
	}

	#numpad button.btn.btn-default {
		width: 100%;
	}

	#login {
		height: 3em;
		width: 100%;
	}

	.btn-group-vertical.btn-group-lg {
		width: 32%;
	}

}
