body {
	font-size: 16px!important;
}

.panel-primary.container {
    border-color: #337ab7;
    padding: 0;
}

h2 {
	margin: 0 !important;
}

.red {
	color: red;
}

#app {
    display: none;
}

section.mainBtns {
	margin: 10% 20%;
}

#checkIn, #checkOut {
	display: none;
}

section .btn {
	height: 15em;
	width: 15em;
}

table#timesheet {
	margin-top: 1em;
}

tr, th {
	width: 25%;
}

#message {
    margin-top: 1em;
}

#numpad {
    margin-left: 35%;
}

#numpad button.btn.btn-default {
  width: 100px;
  height: 100px;
}

#numpad button.btn.btn-default:hover {
 background-color: #5894D1 !important;
 color: white;
}

#login {
    width: 310px;
    height: 100px;
    margin-left: 35%;
    margin-top: 1em;
}

@media (max-width: 600px) {
	section.mainBtns {
		margin: 10% auto;
	}

	section .btn {
		width: 100%;
		height: 5em;
	}

	#numpad, #login {
		margin:auto  5%;
	}
}
