body {
	font-size: 16px!important;
}

#kissklock-app {
	background-image: url("https://images.unsplash.com/photo-1538729247193-1256701f9ef5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjI0MX0&s=ee0711874092341f57a1422d206a4fee&auto=format&fit=crop&w=2700&q=80");
	background-size: cover;
	height: 100vh;
	position: relative;
}

.panel-primary.container {
    border: none;
    padding: 0;
}

.navbar.navbar-inverse {
	margin-bottom: 0;
	border-radius: 0px;
}

h2 {
	margin: 0 !important;
}

.red {
	color: red;
}

#app, section#auth, #timesheetPage, #tipsPage {
    display: none;
    position: relative;
}

#auth {
	position: absolute;
    top: 58%;
    transform: translateY(-50%);
}

#main-content {
	width:50%;
	float: left;
	margin-top: 200px;
}

#sidebar {
	width: 50%;
	height: 100vh;
	padding: 1em;
	float: left;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 0 20px black;
}

section.mainBtns {
	margin: 1em auto 5%;
    max-width: 35em;
}

#checkIn, #checkOut, #lunchBreak {
	display: none;
}

section#app .btn {
	height: 10em;
	width: 30em;
	margin-bottom: 1em;
}

section#app .btn-primary {
	background: #039FF1;
}

.custom-btn {
	float: right;
	border-radius: 25px;
	margin-top: .5em;
	background: #039FF1;
}

table#timesheet {
	margin-top: 1em;
}

tr, th {
	/* width: 25%; */
}

#dashboard table th {
	cursor: pointer;
}

#userTimesheet th {
	/* width: 20%; */
}

#message {
    margin-top: 1em;
}

#inputID {
	color: white;
	font-size: 3em;
	width: 100%;
	text-align: center;
	height: 2em;
	margin: auto;
	border: none;
	background-color: rgba(0,0,0,.8);
	border-radius: 10px 0 0 10px;
}

#numpad {
    max-width: 310px;
	margin: auto;
}

#numpad button.btn.btn-default {
  width: 3em;
  height: 3em;
  color: black;
  border-radius: 25%;
  box-shadow: 0 0 10px black;
  font-size: 2em;
  margin: 0 auto .3em;
  background-color: white;
}

#numpad button.btn.btn-default:hover {
 background-color: #039FF1 !important;
 color: white;
}

#login {
    width: 100%;
	font-size: 3em;
	height: 2em;
    margin: 0;
	background-color: white;
	color: black;
	border: none;
	box-shadow: 0 0 5px black;
	border-radius: 0 10px 10px 0;
}

.no-padding {
	padding: 0;
}

#laborBreakdown {
	position: absolute;
left: 40px;
top: 400px;
}

#weather {
	position: absolute;
	top: 0;
	right: 1em;
	font-size: 3em;
	color: white;
}

#weather-text {
	font-size: .3em;
    display: block;
    text-align: center;
}

#notifications {
	position: absolute;
	bottom: 2em;
	right: 1em;
	font-size: 2em;
	border-radius: 50%;
	box-shadow: 0 0 5px black;
}

#notificationsPanel {
	/* display: none; */
	width: 400px;
	position: absolute;
	right: 1em;
	bottom: 10em;
}

#roleButtons {
	display: none;
	position: absolute;
	background: white;
	width: 50%;
	margin: auto;
	left: 25%;
	border-radius: 15px;
	box-shadow: 0 0 10px;
	padding: 5em;
}

.role-button {
	background: #039FF1;
	width: 20%;
	height: 80px;
	padding: 2em;
	margin: 1em 2.5%;
	color: white;
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	float: left;
	text-align: center;
	cursor: pointer;
}

.table-card {
	box-shadow: 0 0 10px;
    border-radius: 5px;
	padding: 1em;
	margin: 2em 0;
}

.table-name {
	text-align: center;
	margin-bottom: .5em !important;
}

#userTimesheet {
	display:none;
}

#h2 {
	float: left;
	margin:1em !important;
}

#addTimeslot {
	float: right;
	margin:1em !important;
}

.vacation {
	background-color: #FCE4EC;
}

.pto {
	background-color: #E5FFCC;
}

.modal .modal-dialog {
	margin-top: 30%;
}

.modal-content {
	padding: 1em;
}

.popover, .glyphicon-info-sign {
	color: black;
}

.selectHours.form-control {
	height: 150px;
}

#clockdate {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.clockdate-wrapper {
    background-color: rgba(0,0,0,.8);
    padding:.5em;
    text-align:center;
    border-radius:5px;
    margin:0 auto 1em;
	width: 500px;
}

#clock{
    font-family: sans-serif;
    font-size:3em;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}

#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
}

#date {
    letter-spacing:10px;
    font-size: 1em;
	font-weight: bold;
    font-family:arial,sans-serif;
    color:#fff;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
	margin: auto;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 600px) {
	body {
		font-size: 14px !important;
	}

	img {
		width: 100px;
	}

	.panel .panel-heading {
		padding: 0;
	}

	.navbar.navbar-default {
		margin-bottom: 0;
	}

	#message {
		margin-top: 0;
	}

	#name {
		margin: 0;
	}

	section.mainBtns {
		margin: 0 auto;
	}

	section.mainBtns .btn {
		width: 100% !important;
		height: 5em !important;
	}

	#numpad, #login {
		margin: 0;
	}

	#numpad {
	    max-width: 600px;
	}

	#numpad button.btn.btn-default {
		width: 100%;
	}

	#login {
		height: 3em;
		width: 100%;
	}

	.btn-group-vertical.btn-group-lg {
		width: 32%;
	}

}

.easy-autocomplete {
	width: 100% !important;
}

.swal2-popup {
	font-size: 1.3rem !important;
}



/* TIPPPPS */
.suspect {
	color: red;
	font-weight: bold;
}


.btn-number{
	border:1px solid !important;
	margin:2px !important;
	background-color:#fff;

	padding-top:20px !important;

	height:60px;
	width:60px;

	font-size:16px !important;
	font-weight: bold;
}

.btn-number:hover{
	background-color:#7aa7ef;
}

#empNumberDisplay{
	font-size:24px;
	font-weight:bolder;
	min-height:50px;
}

.questionRow{
	padding-bottom:25px;
}

.panel-primary{
	padding-bottom:50px !important;
}

canvas{
  border:2px solid;
  background-color:#fff;
}

.wrapper {
  position: relative;
  display:block;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  /*position: absolute;*/
  display:block;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;
  margin: auto;
}
/*
.modal .modal-dialog{
  width: 30% !important;
}
*/

.adminCalWeekHighlight{
	border: 3px solid #ff0000 !important;
}

div#tipContainer_wrapper div.dt-buttons{
  padding-top:10px;
  padding-bottom:10px;
}

.modal-backdrop {
	display: none !important
}
